/* region misc */
.grid {
    display: flex;
    flex-grow: 2;
    flex-wrap: wrap;
}

.party {
    text-align: center;
}

.empty {
    height: 96px;
    width: 96px;
    background-color: #777;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    border: 3px solid #777;
}

.card {
    height: 250px;
    width: 150px;
    display: inline-block;
    background-color: #444;
    margin: 3px;
    padding-top: 15px;
    border-radius: 5%;
}

.type {
    border-radius: 15%;
    padding: 1px;
    margin: 3px;
}

.name {
    margin: 1px;
}
/* endregion */
/* region Types */
/*region Normal */
.Normal-main {
    background-color: #A8A77A;
}

.Normal-secondary {
    border-color: #A8A77A;
}

.Normal {
    background-color: #A8A77A;
    border-color: #8F8E68;
}
/*endregion*/

/* region Fire */
.Fire-main {
    background-color: #EE8130;
}

.Fire-secondary {
    border-color: #EE8130;
}

.Fire {
    background-color: #EE8130;
    border-color: #D4742A;
}
/* endregion */

/* region Water */
.Water-main {
    background-color: #6390F0;
}

.Water-secondary {
    border-color: #6390F0;
}

.Water {
    background-color: #6390F0;
    border-color: #5880D6;
}
/* endregion */

/* region Electric */
.Electric-main {
    background-color: #F7D02C;
}

.Electric-secondary {
    border-color: #F7D02C;
}

.Electric {
    background-color: #F7D02C;
    border-color: #DEB928;
}
/* endregion */

/* region Grass */
.Grass-main {
    background-color: #7AC74C;
}

.Grass-secondary {
    border-color: #7AC74C;
}

.Grass {
    background-color: #7AC74C;
    border-color: #69AD42;
}
/* endregion */

/* region Ice */
.Ice-main {
    background-color: #96D9D6;
}

.Ice-secondary {
    border-color: #96D9D6;
}

.Ice {
    background-color: #96D9D6;
    border-color: #84BFBC;
}
/* endregion */

/* region Fighting */
.Fighting-main {
    background-color: #C22E28;
}

.Fighting-secondary {
    border-color: #C22E28;
}


.Fighting {
    background-color: #C22E28;
    border-color: #A82823;
}
/* endregion */

/* region Poison */
.Poison-main {
    background-color: #A33EA1;
}

.Poison-secondary {
    border-color: #A33EA1;
}

.Poison {
    background-color: #A33EA1;
    border-color: #8A3488;
}
/* endregion */

/* region Ground */
.Ground-main {
    background-color: #E2BF65;
}

.Ground-secondary {
    border-color: #E2BF65;
}

.Ground {
    background-color: #E2BF65;
    border-color: #C9AA5B;
}
/* endregion */

/* region Flying */
.Flying-main {
    background-color: #A98FF3;
}

.Flying-secondary {
    border-color: #A98FF3;
}

.Flying {
    background-color: #A98FF3;
    border-color: #9880D9;
}
/* endregion */

/* region Psychic */
.Psychic-main {
    background-color: #F95587;
}

.Psychic-secondary {
    border-color: #F95587;
}

.Psychic {
    background-color: #F95587;
    border-color: #C7446B;
}
/* endregion */

/* region Bug */
.Bug-main {
    background-color: #A6B91A;
}

.Bug-secondary {
    border-color: #A6B91A;
}

.Bug {
    background-color: #A6B91A;
    border-color: #91A116;
}
/* endregion */

/* region Rock */
.Rock-main {
    background-color: #B6A136;
}

.Rock-secondary {
    border-color: #B6A136;
}

.Rock {
    background-color: #B6A136;
    border-color: #9C892F;
}
/* endregion */

/* region Ghost */
.Ghost-main {
    background-color: #735797;
}

.Ghost-secondary {
    border-color: #735797;
}

.Ghost {
    background-color: #735797;
    border-color: #5F487D;
}
/* endregion */

/* region Dragon */
.Dragon-main {
    background-color: #6F35FC;
}

.Dragon-secondary {
    border-color: #6F35FC;
}

.Dragon {
    background-color: #6F35FC;
    border-color: #6230E3;
}
/* endregion */

/* region Dark */
.Dark-main {
    background-color: #705746;
}

.Dark-secondary {
    border-color: #705746;
}

.Dark {
    background-color: #705746;
    border-color: #574337;
}
/* endregion */

/* region Steel */
.Steel-main {
    background-color: #B7B7CE;
}

.Steel-secondary {
    border-color: #B7B7CE;
}

.Steel {
    background-color: #B7B7CE;
    border-color: #A1A1B5;
}
/* endregion */

/* region Fairy */
.Fairy-main {
    background-color: #D685AD;
}

.Fairy-secondary {
    border-color: #D685AD;
}

.Fairy {
    background-color: #D685AD;
    border-color: #BD7599;
}
/* endregion */
/* endregion */