.still-loading {
  display: table;
  width: 100%;
}

.buffer {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.pokeball {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
  width: 100px;
  height: 100px;
  margin: 20% 20% 20% 20%;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
